# encoding: utf-8
#
# This is an example of an attributes file that can be passed to the profile
# to override the defaults of the attributes defined in each of the tests.
# You can use this to automatically adjust your tests when using automation or
# programmatic deployment or validation of different deployment patterns without
# having to adjust the core profile.

pg_owner: '{{ pg_dba }}'
pg_group: 'postgres'
pg_owner_password: '{{ pg_dba_password }}'

pg_dba: '{{ pg_dba }}'

pg_dba_password: '{{ pg_dba_password }}'

pg_user: '{{ pg_user }}'
pg_user_password: '{{ pg_user_password }}'

pg_ver: '9.5'
pg_host: '{{ lookup('env','PGHOST') }}'
pg_port: '{{ pg_port }}'

pg_db: '{{ lookup('env','PGDATABASE' ) }}'
pg_table: 'stig_test_table'

# priv user account that can login to the postgres host
login_user: 'vagrant'
login_host: '127.0.0.1'
pg_data_dir: /rdsdbdata/db/data
pg_conf_file: /rdsdbdata/config/postgresql.conf
pg_hba_conf_file: /rdsdbdata/config/pg_hba.conf
pg_ident_conf_file: /rdsdbdata/config/pg_ident.conf
pg_user_defined_conf: ['/rdsdbdata/db/data/stig-postgresql.conf']

pg_shared_dirs: [
  "/usr/pgsql-${pg_ver}",
  "/usr/pgsql-${pg_ver}/bin",
  "/usr/pgsql-${pg_ver}/include",
  "/usr/pgsql-${pg_ver}/lib",
  "/usr/pgsql-${pg_ver}/share"
  ]

pg_doc_roles:
  {'postgres': '-1',
  'mitre_dba': '-1',
  'mitre' : '-1'}

pg_conf_mode: '0600'
pg_ssl: 'on'
pg_log_dest: 'syslog'
pg_version: "{{ pg_version }}"
pg_syslog_facility: ['local0']
pg_syslog_owner: 'postgres' # should this default to PG_OWNER?

pgaudit_log_items: ['ddl','role','read','write']
pgaudit_log_line_items: ['%m','%u','%c']

client_min_mesg: 'error'
pg_max_connections: '3'
pg_timezone: 'UTC'
pg_superusers: ['rdsadmin',]
pg_replicas: ['',]
